@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: 'Tektur';
}

/* navbar styles */
.geria-logo {
  height: 3rem;
  width: 12rem;
}

/* welcome styles */
.video-hero {
  height: 80vh;
  width: 100vw;
}

.video {
  width: 100vw;
}