@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* navbar styles */
.geria-logo {
  height: 3rem;
  width: 12rem;
}

/* welcome styles */
.video-hero {
  height: 90vh;
  width: 100vw;
}

.video {
  width: 100vw;
}

/* projects styles */
.projects {
  background-image: url('./images/black-green.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}